<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Stats SVG API</title>
    </head>
    <body>

        <h1>
            Stats SVG API
        </h1>

        <hr/>

        <h3>Light Theme</h3>
        <img src="/pranavgnn?theme=light"/>

        <h3>Dark Theme</h3>
        <img src="/pranavgnn?theme=dark"/>

        <hr/>

        <h3>
            Usage
        </h3>

        <pre>
            https://stats-svg-api.vercel.app/USERNAME?theme=THEME&year=YEAR
        </pre>

        <pre>
            USERNAME: GitHub Username
            THEME: dark | light (default: light)
            YEAR: year (default: current year)
        </pre>

        <hr/>

        <p>
            Made by: https://github.com/pranavgnn
        </p>
    </body>
</html>